/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
  --main-font-family:'Inter-Variable', serif;
  --accent-font-family:'PressStart2P-Regular', fantasy;
  --main-font-weight: 400;
  --accent-font-weight: 700;
  --background-color:#fff;
  --heart-fill-color: #FF0000;
  --accent-color:#000;
  --background-image: repeating-linear-gradient(90deg, #d3d3d3, transparent 2px ),
  repeating-linear-gradient(0deg, #d3d3d3, transparent 2px ),
  linear-gradient(0deg,#1a1a1a,#e7e7e7);;
}
